<div ng-show="showfeedback" ng-include src="'partials/feedback.html'"></div>
<div ng-show="!showfeedback" style="margin-left:20px;">
	<!--
	<h1>Kurspåmelding</h1>
	
	<div class="row">
		<div class="alert alert-success col-sm-5" role="alert">
			Legg noe passende informasjon her. Pris, oppstart osv?Legg noe passende informasjon her. Pris, oppstart osv?Legg noe passende informasjon 	her. Pris, oppstart osv?Legg noe passende informasjon her. Pris, oppstart osv?Legg noe passende informasjon her. Pris, oppstart osv?
		</div>
	</div>
	-->
	
	<form name="form">
		<div class="row">
			<div class="col-sm-6">
					Navn <input type="text" class="form-control" name="name" ng-model="participant.name" required ng-blur="navnOk = form.name.$valid">

					<span ng-show="navnOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
					<span ng-show="!navnOk && navnOk !== undefined" style="position: absolute;right: -6px;top: 30px;" class="glyphicon glyphicon-asterisk"></span>				
			</div>	
		</div>

		<div class="row">
			<div class="col-sm-6">
				E-post <input type="text" class="form-control" name="email" ng-model="participant.email" ng-blur="emailOk = form.email.$valid"required>
				<span ng-show="emailOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
				<span ng-show="!emailOk && emailOk !== undefined" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-asterisk"></span> 
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-sm-6">
				Var du medlem i fjor og har samme kontaktinformasjon? <br>
				Ja <input type="radio" ng-model="participant.isFormerMember" ng-value="true"></input>
				Nei <input type="radio" ng-model="participant.isFormerMember" ng-value="false"></input>
			</div>
		</div>

		<br>
		<div ng-hide="participant.isFormerMember">
			<div class="row">
				<div class="col-sm-6">
					Adresse <input type="text" class="form-control" name="address" ng-model="participant.address" ng-blur="addressOk = form.address.$valid" ng-required="!participant.isFormerMember"> 
					<span ng-show="addressOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
					<span ng-show="!addressOk && addressOk !== undefined" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-asterisk"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3">
					Postnummer <input type="text" class="form-control" name="postalNumber" ng-model="participant.postalNumber" ng-blur="postalNumberOk = form.postalNumber.$valid" ng-required="!participant.isFormerMember"> 
					<span ng-show="postalNumberOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
					<span ng-show="!postalNumberOk && postalNumberOk !== undefined" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-asterisk"></span>
				</div>
				<div class="col-sm-3">
					Poststed <input type="text" class="form-control" name="town" ng-model="participant.town" ng-blur="townOk = form.town.$valid" ng-required="!participant.isFormerMember"> 
					<span ng-show="townOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
					<span ng-show="!townOk && townOk !== undefined" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-asterisk"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					Telefon <input type="text" class="form-control" name="phone" ng-model="participant.phonenumber" ng-blur="phoneOk = form.phone.$valid" ng-required="!participant.isFormerMember"> 
					<span ng-show="phoneOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
					<span ng-show="!phoneOk && phoneOk !== undefined" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-asterisk"></span> 
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					Fødselsdato <input type="date" class="form-control" name="dateofbirth" placeholder="dd.mm.yyyy" ng-model="participant.dateofbirth" ng-blur="dateOk = form.dateofbirth.$valid" min="1900-01-01" ng-required="!participant.isFormerMember">
					<span ng-show="dateOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
					<span ng-show="!dateOk && dateOk !== undefined" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-asterisk"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					Kjønn
					<select class="form-control" name="gender" id="gender1" ng-model="participant.gender" ng-change="genderOk = form.gender.$valid" ng-required="!participant.isFormerMember">
	 					<option value="">Velg</option>
	 					<option>Kvinne</option>
						<option>Mann</option>
					</select>	
					<span ng-show="genderOk" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-ok"></span>
					<span ng-show="!genderOk && genderOk !== undefined" style="position: absolute;right: -6px;top: 30px;"class="glyphicon glyphicon-asterisk"></span> 			
				</div>
			</div>
		</div>
		
		<br>
		<br>
		
		
		<div class="row" ng-repeat="i in [0,1,2,3,4]" ng-hide="numberOfCourses<i+1">
			
			<div class="col-sm-3">
				Velg kurs ({{i+1}}. prioritet)
				<select class="form-control" ng-model="chosenCourses[i].courseInfo" ng-options="course.name for course in courses"></select>
			</div>	
			<div class="col-sm-3" ng-hide="chosenCourses[i].courseInfo.solo == '1'">
				Velg rolle
				<select class="form-control" ng-model="chosenCourses[i].role" ng-options="role.english as role.displayText for role in roles"></select>
			</div>
			{{role}}
			<div class="col-sm-3" ng-hide="chosenCourses[i].courseInfo.solo == '1'">
				Registrere med partner? <br>
				Ja <input type="radio" ng-model="chosenCourses[i].hasPartner" ng-value="true" ng-change="updateHasPartner(i)"></input>
				Nei <input type="radio" ng-model="chosenCourses[i].hasPartner" ng-value="false" ng-change="updateHasPartner(i)"></input>
			</div>
			<div class="col-sm-3" ng-show="fillInPartnerId[i]">
				Fyll inn navn på partner <br>
				<input type="text" class="form-control" ng-model="chosenCourses[i].partnerName"></input>
			</div>
		</div>
		<br>
		<div class="row" ng-hide="numberOfCourses==maxNumberOfCourses">
			<div class="col-sm-3">
				Legg til flere kurs
				<button class="btn btn-success btn-xs" ng-click="addOneMoreCourse()">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</div>
		</div>
		<div class="row" ng-hide="numberOfCourses==1">
			<div class="col-sm-3">
				Fjern kurs nummer {{numberOfCourses}}
				<button class="btn btn-danger btn-xs" ng-click="removeOneCourse()">
					<i class="glyphicon glyphicon-minus"></i>
				</button>
			</div>
		</div>
	</form>
	<br>
	<br>
	<button ng-disabled="form.$invalid" class="btn btn-primary btn-sm" ng-click="registrerParticipant(participant)">Registrer deg</button>
	<br>
	<br>
	<!--<a href="http://www.bardarswingclub.no/">Tilbake til hjemmesiden</a>-->
</div>





