
<div class="well">
	<h1>Kurspåmelding</h1>
	<div class="alert alert-success col-xs-4" role="alert">Legg noe passende informasjon her. Pris, oppstart osv?</div>
	<br>
	<br>
	<br>
	<br>
	<form>
		<div class="row">
			<div class="col-xs-4">
				Navn <input type="text" class="form-control" ng-model="participant.name"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Adresse <input type="text" class="form-control" ng-model="participant.address"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				E-post <input type="text" class="form-control" ng-model="participant.email"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Telefon <input type="text" class="form-control" ng-model="participant.phonenumber"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Kjønn
				<select class="form-control" id="gender1" ng-model="participant.gender">
 					<option>Kvinne</option>
					<option>Mann</option>
				</select>  				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Fødselsdato <input type="date" class="form-control" placeholder="dd.mm.yyyy" ng-model="participant.dateofbirth"> 
			</div>
		</div>
		
		<br>
		<br>

		<div class="row">
			<div class="col-xs-2">
				Velg kurs (1. prioritet)
				<select class="form-control" ng-model="firstChoiceCourse.courseId" ng-options="course.courseId as course.name for course in courses"></select>
			</div>	
			<div class="col-xs-2">
				Velg rolle
				<select class="form-control">
					<option>Lead</option>
					<option>Follow</option>
				</select>
			</div>
			<div class="col-xs-2">
				Registrere med partner? <br>
				Ja <input type="radio" ng-model="firstChoiceCourse.hasPartner" ng-value="true" ng-change="updateHasPartnerFirstChoice()"></input>
				Nei <input type="radio" ng-model="firstChoiceCourse.hasPartner" ng-value="false" ng-change="updateHasPartnerFirstChoice()"></input>
			</div>
			<div class="col-xs-2" ng-show="fillInPartnerId.firstChoice">
				Fyll inn navn på partner <br>
				<input type="text" class="form-control" ng-model="firstChoiceCourse.partnerName"></input>
			</div>
		</div>

		<div class="row" ng-show="numberOfCourses>1">
			<div class="col-xs-2">
				Velg kurs (2. prioritet)
				<select class="form-control" ng-model="mySecondChoice" ng-options="course.name for course in courses"></select>
			</div>	
			<div class="col-xs-2">
				Velg rolle
				<select class="form-control">
					<option>Lead</option>
					<option>Follow</option>
				</select>
			</div>
			<div class="col-xs-2">
				Registrere med partner? <br>
				Ja <input type="radio" ng-model="hasPartner.secondChoice" ng-value="true" ng-change="updateHasPartnerSecondChoice()"></input>
				Nei <input type="radio" ng-model="hasPartner.secondChoice" ng-value="false" ng-change="updateHasPartnerSecondChoice()"></input>
			</div>
			<div class="col-xs-2" ng-show="fillInPartnerId.secondChoice">
				Fyll inn navn på partner<br>
				<input type="text" class="form-control"></input>
			</div>
		</div>

		<div class="row" ng-show="numberOfCourses>2">
			<div class="col-xs-2">
				Velg kurs (3. prioritet)
				<select class="form-control" ng-model="myThirdChoice" ng-options="course.name for course in courses"></select>
			</div>	
			<div class="col-xs-2">
				Velg rolle
				<select class="form-control">
					<option>Lead</option>
					<option>Follow</option>
				</select>
			</div>
			<div class="col-xs-2">
				Registrere med partner? <br>
				Ja <input type="radio" ng-model="hasPartner.thirdChoice" ng-value="true" ng-change="updateHasPartnerThirdChoice()"></input>
				Nei <input type="radio" ng-model="hasPartner.thirdChoice" ng-value="false" ng-change="updateHasPartnerThirdChoice()"></input>
			</div>
			<div class="col-xs-2" ng-show="fillInPartnerId.thirdChoice">
				Fyll inn navn på partner <br>
				<input type="text" class="form-control"></input>
			</div>
		</div>

		<br>
		<div class="row" ng-hide="numberOfCourses==3">
			<div class="col-xs-2">
				Legg til flere kurs
				<button class="btn btn-success btn-xs" ng-click="addOneMoreCourse()">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</div>
		</div>
	</form>
	<br>
	<br>
	<button class="btn btn-primary btn-sm" ng-click="registrerParticipant(participant)">Registrer deg</button>
</div>





