
<div class="well">
	<h1>Kurspåmelding</h1>
	<form>
		<div class="row">
			<div class="col-xs-4">
				Navn <input type="text" class="form-control" ng-model="participant.name"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Adresse <input type="text" class="form-control" ng-model="participant.address"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				E-post <input type="text" class="form-control" ng-model="participant.email"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Telefon <input type="text" class="form-control" ng-model="participant.phonenumber"> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Kjønn
				<select class="form-control" id="gender1" ng-model="participant.gender">
 					<option>Kvinne</option>
					<option>Mann</option>
				</select>  				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				Fødselsdato <input type="text" class="form-control" placeholder="dd.mm.yyyy" ng-model="participant.dateofbirth"> 
			</div>
		</div>
		
		<br>
		<br>

		<div class="row">
			<div class="col-xs-2">
				Velg kurs
				<select class="form-control">
					<option>Øvet</option>
					<option>Nybegynner</option>
				</select>
			</div>	
			<div class="col-xs-2">
				Velg rolle <i class="glyphicon glyphicon-question-sign"></i>
				<select class="form-control">
					<option>Lead</option>
					<option>Follow</option>
				</select>
			</div>
			<div class="col-xs-2">
				Har partner?
				<button type="radio"></button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-2">
				Legg til kurs
				<button class="btn btn-success btn-xs">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</div>
		</div>
	</form>

	<button class="btn btn-primary btn-xs" ng-click="registrerParticipant(participant)">Registrer deg</button>
</div>





